.image-box {
  position: relative;
}
.hover {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.4;
  z-index: 10;
  display: none;
}
.data {
  color: white;
  opacity: 1;
}

.data-box {
  width: calc(50% - 50px);
}

.wrapper .album-wrapper:nth-child(even) {
    flex-direction: row-reverse;
  }
